@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root{
    --preto: #0d1b2aff;
    --azul-escuro: #1b263bff;
    --azul-cinzento: #415a77ff;
    --azul-lago-cinzento: #778da9ff;
    --platina: #e0e1ddff;
    --fonte-titulo: "Gupter", serif;
    --fonte-titulo: "Rubik", sans-serif;
}